
<!-- directive1.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Lab 13 - Scramble</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>

    <body>
        <div data-ng-app="myApp"  data-ng-controller="myctrl">
            <input type="text" ng-model="unscrambled">

            <div data-ng-repeat="s in arr">{{s}}</div>
            <button data-ng-click="scramble()">Scramble</button>
        </div>

        <script>

            //The [] parameter in the module definition can be used to define dependent modules.
            //Without the [] parameter, you are not creating a new module, but retrieving an existing one.
            var app = angular.module("myApp", []);

            app.controller('myctrl', function ($scope) {
                $scope.unscrambled = "scramble";  //Initialize the input box
                $scope.arr = []; //Array to hold our 5 scrambled words
                $scope.scramble = function() {  //Our function executed when button is clicked
                    $scope.arr = scramble($scope.unscrambled);  //Populate the array through this function
                };

                $scope.scramble();  //To initialize on load
            });

            //This function scrambles the unscrambled word 5 times
            //And returns an array with the 5 scrambled words
            function scramble(unscrambled) {                
                var i, j;
                var randomIndex, temp;
                var scrambled = [];  //Inititalize

                //Take the original word and put letters into an array
                var unscrambledArray = unscrambled.split("");

                //We need to scramble 5 times
                for(var i=0; i<5; i++){

                    //To scramble the word, loop through the array we created
                    for(j=unscrambledArray.length-1; j>0; j--) {

                        //Select a random index
                        randomIndex = Math.floor(Math.random() * (j+1));

                        //Swap the letter at index j with 
                        //the letter at the random index
                        temp = unscrambledArray[j];
                        unscrambledArray[j] = unscrambledArray[randomIndex];
                        unscrambledArray[randomIndex] = temp;

                    }  //Scramble is done

                    //Return the array back to a single string and add to 
                    //the array which will be returned to the controller
                    scrambled[i] = unscrambledArray.join('');

                } //We have 5 scrambled words in our array

                return scrambled;  //Send the array back to the controller
            }
        </script>
    </body>
</html>