<!DOCTYPE html>
<html lang="en">
<head>
  <title>AngularJS Directive:  ng-click</title>
  
  <!-- Include Angular.js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  
</head>

<!-- The data-ng-click directive binds an action to a button click... -->

<!-- this time, we make the whole body element the angular application -->
<body data-ng-app="">

  Let's add two numbers!<br>

  <input type="number" data-ng-model="first"> + <input type="number" data-ng-model="second">

  <!-- when the user clicks Calculate, the data-ng-click directive sets the answer variable -->
  <button data-ng-click="answer = 'The answer is: ' + (first + second) + '.'">Calculate</button>

  <button data-ng-click="answer = ''; first = ''; second = ''">Clear</button>

  <!-- Here is an Angular.js directive to output the answer variable -->
  <p>{{ answer }}</p>

</body>
</html>
